body,h1,h2,div,.button{font-family: "Verdana"}
body, html {height: 100%}
header{
	background-color:#7aabc4;
	color: #F8F8FF;
	padding: 13px;
	text-align: center;
	margin: 0px;
	font-size: 16px;
}
.Navbar{
	background-color:#7aabc4; 
	position:fixed;
	width:100%;
	z-index:1;
	bottom:0;
	overflow: hidden;
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	padding:8px ;
}
.button{
	text-decoration: none;
	color: white;
	background-color: #7aabc4;
	border-width: 4px;
	border-color: #000000;
	padding:10px 0px;
	margin: 0px;
	text-align : center;
	display: inline-block;
}
.button:hover{color:#ffffff;
	background-color:#a0d2eb
}
body {
    background:rgb(247, 247, 247);
    color:#679db8;
  }
   
  *{
    margin:0;
    padding:0;
  }
   
  h1 {
    font-weight: bold;
    font-size: 22px;
  }
  h2 {
    font-weight: bold;
    font-size: 18px;
  }
  h3{
	text-align: center;
  } 
  p {
    font-size: 13px;
    font-weight: normal;
    line-height: 2;
  }
   
  ul,li{
    list-style:none;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#bed8e6;
    display:block;
    height:15em;
    width:30em;
    padding:3px;
  }
  ul li{
    margin:1em;
  }
  ul li a:hover,ul li a:focus{
    transform: scale(1.1);
    position:relative;
  }